.staff-management {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.content-container {
  display: flex;
  justify-content: space-between; /* Align items to the start and end */
  width: 80%; /* Adjust as needed */
  margin-top: 20px;
}

.staff-info {
  width: 60%; /* Adjust as needed */
}

.image-container {
  width: 30%; /* Adjust as needed */
}

  