.register-container {
    display: flex;
  }
  
  .register-form {
    flex: 1;
    padding: 20px;
  }
  
  .register-image {
    flex: 1;
    background-image: url('https://www.vidyalayaschoolsoftware.com/webassets/images/vidyalaya_bangladesh/vidyalaya_bangladesh_3.svg');
    background-size: cover;
    background-position: center;
  }
  